.container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1em;
    padding-left: 3.875rem;
    padding-right: 3.875rem;
}


/* ********HEADER START *********** */

.header {
    margin: 0 auto;
    grid-column: 1 / -1;
    max-width: 100%;
    position: relative;
}

.nav-bar {
    margin-top: 1.5em;
    display: flex;
    color: #333;
}

.logo-nav {
    width: 20%;
}

.menu-dropdown {
    width: 90%;
    justify-self: center;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.menu-dropdown li+li {
    margin-left: 4.375em;
}

.nav-menu {
    display: flex;
}

.nav-border {
    width: 30%;
    height: 3px;
    border-radius: 0.5em;
    background-color: transparent;
}

.kyçu-btn {
    margin-left: auto;
    font-weight: 500;
    padding: 0.5em 1em;
    border: 2px solid transparent;
    border-radius: 0.5em;
}

a.kyçu-btn:hover {
    border: 2px solid #003471;
    animation: kycu-reveal 0.7s ease-in;
    /* border: 2px solid white; */
}

@keyframes kycu-reveal {
    0% {
        border: 2px solid transparent;
    }
    25% {
        border: 2px solid #003471;
    }
    50% {
        border: 2px solid rgba(0, 52, 113, .5);
    }
    100% {
        border: 2px solid #003471;
    }
}

.regjistrohu-btn {
    background-color: #FFD53B;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-left: 3em;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.regjistrohu-btn:hover {
    background-color: transparent;
    border: 2px solid #003471;
    color: #003471;
}

.nav-menu li {
    overflow: hidden;
}

.menu-dropdown .nav-menu li:hover .nav-border {
    /* width: 100%; */
    height: 3px;
    border-radius: 0.5em;
    background-color: rgb(51, 51, 51, .3);
    animation: reveal 0.6s ease-in;
}

@keyframes reveal {
    0% {
        margin-left: 0;
        width: 0;
        left: 0;
        opacity: 0%;
    }
    50% {
        transform: translateX(1.5em);
        width: 100%;
        opacity: 100%;
    }
    100% {
        transform: translateX(5em);
        width: 30%;
        opacity: 100%;
    }
}

.menu-dropdown .nav-menu li:link .nav-border,
.menu-dropdown .nav-menu li:visited .nav-border {
    background-color: rgb(51, 51, 51, .3);
}

.hero-desc {
    width: 45%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.header-title {
    font-size: 2.6rem;
    animation: title 0.7s ease-in;
}

.title-border {
    width: 15%;
    height: 4px;
    border-radius: 0.5em;
    background-color: #333;
    animation: title-border 0.9s ease-in;
}

.toggler {
    display: none;
}

@keyframes title {
    0% {
        opacity: 90%;
    }
    25% {
        opacity: 70%;
    }
    50% {
        opacity: 90%;
    }
    75% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes title-border {
    0% {
        opacity: 50%;
    }
    25% {
        opacity: 300%;
    }
    50% {
        opacity: 60%;
    }
    75% {
        opacity: 40%;
    }
    100% {
        opacity: 100%;
    }
}

.hero-pic picture img {
    z-index: -1;
    max-width: 100%;
}

.hero-cta {
    border-radius: 0.5em;
    padding: 1em 2em;
    border: none;
    background-color: #003471;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

@media (max-width:650px) {
    .hero-desc {
        width: 90%;
        position: absolute;
        top: 50%;
        display: block;
        transform: translateY(-50%);
        text-align: center;
    }
    .hero-pic picture img {
        min-width: 350px;
        z-index: unset;
        position: inherit;
        visibility: hidden;
    }
    .header-title {
        font-size: 2.5rem;
    }
    .hero-cta {
        font-size: 1.2em;
    }
}

@media (max-width:750px) {
    .hero-desc {
        width: 90%;
        display: block;
        top: 90%;
        text-align: center;
    }
    .hero-pic picture img {
        min-width: 350px;
        z-index: unset;
        position: inherit;
        display: block;
    }
    .header-title {
        font-size: 2.5rem;
    }
    .hero-cta {
        font-size: 1.2em;
    }
}

@media (max-width:1000px) {
    .header {
        margin-bottom: 3rem;
    }
    .hero-desc {
        width: 90%;
        display: block;
        top: 90%;
        margin-bottom: 1.5em;
        text-align: center;
    }
    .hero-pic {
        margin-top: 1.5em;
    }
    .hero-pic picture img {
        z-index: unset;
        position: inherit;
        display: block;
    }
    .header-title {
        font-size: 2.3rem;
    }
}

.title-border {
    display: none;
}


/* .header-title {
    font-size: calc(2.8em -2vw);
} */


/* ********HEADER END *********** */


/* ********MAIN START *********** */

.main {
    grid-column: 1 / -1;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    gap: 15em 1em;
    margin-bottom: 15em;
}


/* ******Markat Start */

.markat {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.marka-icon {
    grid-column: span 2;
    width: 8em;
    opacity: 0.7;
}


/* ******Markat End */


/*******Feature-in Start**************/

.feature-in {
    max-width: 100%;
    grid-area: 2 / 1 / 3 / -1;
    display: grid;
    gap: 15em 1em;
}

.feature-card {
    grid-row: 1 / 2;
    grid-column: span 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.375em 2.8em;
    border-radius: 0.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.feature-in-icon {
    height: 3.5em;
    margin-bottom: 4.6em;
}

.feature-in-title {
    text-align: center;
    margin-bottom: 1.5em;
}

.feature-in-desc {
    text-align: center;
}


/*******Feature-in End**************/


/* *********Services Start*********** */

.services {
    grid-area: 3 / 1 / 4 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.services-group {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-group:first-child {
    margin-bottom: 9.3em;
}

.services-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services-title {
    margin-bottom: 3.5em;
}

.service-desc {
    line-height: 2;
}

.services-img {
    width: 45%;
}


/* *********Services End*********** */


/* *********Daily-prices Start*********** */

.daily-prices {
    grid-area: 4 / 1 / 5 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4.3em;
}

.card-group {
    display: flex;
    gap: 3em;
    align-self: stretch;
}

.prices-card {
    background-color: white;
    border-radius: 0.5em;
    padding: 1.5em 1.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.prices-car {
    font-size: 1.5em;
}

.car-spec {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
    align-items: center;
}

.spec-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices-card-img {
    max-width: 15em;
    margin-bottom: 1.2em;
}

.price-card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.125em;
    font-weight: 600;
}

.price {
    font-weight: 600;
}

.price-card-footer .rezervo-btn {
    padding: 0.5em 1em;
    background-color: #003471;
    color: white;
}

span .euro-sign {
    font-size: .4em;
    font-weight: 400;
}

.btn-shiko-me-shume {
    align-self: flex-end;
    padding: 0.5em 1.5em;
    font-size: 1.3em;
    background-color: #FFD53B;
}


/* *********Daily-prices End*********** */


/* *********DTestimonials End*********** */

.testimonials {
    grid-area: 5 / 1 / 6 / -1;
    display: flex;
    gap: 3em;
}

.testimonial-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    padding: 1.5em 2em;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.testimonial-img {
    max-width: 4.5rem;
    margin-bottom: 0.5em;
}

.testimonial-name {
    font-size: .8em;
    font-weight: 500;
    margin-bottom: 1.5em;
}

.testimonial-desc {
    font-size: .8rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
}

.testimonial-card:hover {
    background-color: #003471;
    color: white;
}

.testimonial-card:hover::before {
    content: "  ";
    display: block;
    position: absolute;
    background-image: url(../Media/Photo/HD/thonjeza-1.png);
    top: -1em;
    left: -1em;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 60%;
}

.testimonial-card:hover::after {
    content: " ";
    position: absolute;
    background-image: url(../Media/Photo/HD/thonjeza-2.png);
    bottom: -1em;
    right: -1em;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 60%;
}


/* *********Testimonials End*********** */


/* ********MAIN END *********** */


/* ********FOOTER START *********** */

.footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 8em;
}

.footer-cta {
    grid-column: 1 / -1;
    position: relative;
}

.footer-cta img {
    max-width: 100%;
    position: relative;
    z-index: -2;
    top: auto;
    left: auto;
}

.subscribe-group {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10%;
    flex-direction: column;
    align-items: center;
}

.subscribe {
    margin-top: 1.5em;
    width: 70%;
    display: flex;
    align-items: stretch;
    justify-self: center;
}

.footer-cta-title {
    color: white;
}

.subscribe input {
    font-family: 'Raleway';
    padding: 0.5em 1em;
    border-radius: 0.5em 0 0 0.5em;
    width: 70%;
    margin: 0;
    border: none;
}

.subscribe-btn {
    width: 30%;
    border-radius: 0 0.5em 0.5em 0;
    font-family: 'Raleway';
    font-weight: 600;
    padding: 0.5em 1em;
    border: none;
    background-color: #FFD53B;
}

.subscribe-btn:hover {
    cursor: pointer;
}

.footer-group {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-end;
    margin-bottom: 2em;
    font-weight: 500;
}

.logo-desc-footer {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

.logo-desc-footer img {
    width: 6em;
}

.footer-desc {
    text-align: center;
}

.mid-footer {
    grid-column: 2 / 3;
}

.footer-links {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-contact {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-items: flex-end;
    margin-bottom: 1.5em;
}

.footer-contact a {
    display: block;
}


/* ********FOOTER END *********** */